body {
    font-family: 'Helvetica Neue', sans-serif;
  }
  .outer {
    display: flex;
    flex-direction: row;
    
  }
  .outer div {
    padding: 50px;

  }
  
  .italic {
    font-style: italic;
    
  }
  .colorPalet {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .color-1 {
    background-color: #1a616b;
    color: white;
    padding: 10px;
    width: 100px;
    display: flex;
justify-content: center;
  }
  .color-2 {
    background-color: #bad031;
    color: white;
    padding: 10px;
    width: 100px;
    display: flex;
    justify-content: center;

    
  }
  .color-3 {
    background-color: #443e36;
    color: white;
    padding: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
  }
  .color-4 {
    background-color: #fb9a1c;
    color: white;
    padding: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
  }
  .color-5 {
    background-color: #cb2f06;
    color: white;
    padding: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
  }
  .color-6 {
    background-color: #000;
    color: white;
    padding: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
  }
  .color-7 {
    border: solid ;
    background-color: #fff;
    color: black;
    padding: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
  }
  .buttons p {
    border-radius: 20px;
  }